.content-wrapper {
	border-top: 1px solid #F1F1F1;
	border-right: 1px solid #E7E6E6;
	border-left: 1px solid #E7E6E6;
	background: white;
	padding-bottom: 30px;
	border-radius: 6px;
	border-bottom: 1px solid #CFCFCF;
	min-height:800px;
	max-width:1108px;
	margin:0px auto;
	margin-bottom: 30px;
}
.content-wrapper ul {
	margin-top: 30px;
	list-style: none;
	padding-left: 20px;
}
.gallery-wrapper .row {
	margin-left: 0px;
}

.btn-readmore {
	margin-top: 40px;
	width: 100px
}