.event-block-list ul {
	list-style: none;
	padding-left: 0px;
}
.img-wrapper {
	height: 200px;
}
.event-block img{
	display: block;
	width: 100%;
	height: auto;
	max-width: 360px;
	max-height: 200px;
	overflow: hidden;
	text-align: center;
}
.event-block {
	margin-bottom: 20px;
	min-height: 335px;
	max-height: 335px;
}
.title-block {
	margin: 10px auto;
	text-align: justify;
	line-height: 1.7;
	height: 60px;
}
.title-block a:hover {
	border-bottom:1px solid #dddddf;
}
.time-block {
	color: #737373;
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
}
.time-block:before {
	font-family: FontAwesome;
	content: '\f073';
	display: inline-block;
	font-size: 14px;
	padding-right: 10px;
}
.location-block {
	color: #737373;
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
}
.location-block:before {
	font-family: FontAwesome;
	content: '\f041';
	display: inline-block;
	font-size: 14px;
	padding-right: 10px;
	padding-left: 3px;
}
.time-block-news {
	color: #737373;
	vertical-align: middle;
	text-align: left;
	padding-left: 0px;
	padding-right: 0px;
}
.time-block-news:before {
	font-family: FontAwesome;
	content: '\f017';
	display: inline-block;
	font-size: 14px;
	padding-right: 10px;
}