/* Sitemap
---------------------------------------------------------------------*/
/*-- 面包屑导航条 --*/
.breadcrumbs-path {
	margin: 20px auto 10px 0px;
	font-size: 16px;
	line-height: 1.7666;
	font-weight: 400;
	letter-spacing: normal;
	position: relative;
	z-index: 1;
}
.breadcrumbs-path:before {
	content: ' ';
	display: table;
}
.breadcrumbs-path:after {
	clear: both;
}
.breadcrumbs-path ol {
	padding-left: 0px;
	display: inline-block;
}
.breadcrumbs-list {
	direction: ltr;
	list-style: none;
}
.breadcrumbs-item:before {
	color: #d6d6d6;
	padding-left: 0.2em;
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
}
.breadcrumbs-item > a > span {
	padding-left: 10px;
	font-size: 14px;
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
	text-align: inherit;
}
/*-- 分类 --*/
#sitemap-container section {
	padding-top: 10px;
	padding-bottom: 10px;
}
.category {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}
.category-sections {
	margin: 10px 0 45px;
}
.category-section {
	display: inline-block;
	margin-bottom: 26px;
	position: relative;
	vertical-align: top;
	z-index: 1;
}
.category-section-title {
	font-size: 18px;
    line-height: 1.4446;
    font-weight: 600;
    letter-spacing: 0em;
    margin-bottom: 10px;
    padding-right: 34px;
}
.category-section-items {
	font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0em;
    list-style: none;
    margin: 9px 0;
    padding: 0 34px 0 0;
}
.category-section-item {
	padding: 4px 0;
	-webkit-font-smoothing: antialiased;
}
.more:after {
	font-family: FontAwesome;
	content: "\f105";
	display: inline-block;
	vertical-align: bottom;
	padding-left: 5px;
	padding-bottom: 2px;
	font-size: 14px;
}