.intro-banner {
	position: relative;
	padding-top: 30%;
	color: #fff;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 4.2rem;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.intro-banner #banner-text {
	padding: 6.77777778% 0;
	max-width: 720px;
	width: 85%;
	text-align: center;
	background: rgba(0,0,0,0.3);
}
.box-center {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
}
#vcwss-nav {
	border-bottom: 0px;
	vertical-align: baseline;
}
#vcwss-nav li {
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	font: 300 14px/1em 'Open Sans', arial, sans-serif;
	color: #666;
}
#vcwss-nav li a:hover {
	background: transparent;
}
#vcwss-nav li:first-child {
	text-align: right;
}
#vcwss-nav li:last-child {
	text-align: left;
}
#vcwss-nav li a {
	border: 0px;
}

#vcwss-nav .active a {
	background: #fefefe;
	border-bottom: 1px solid #f05050;
}
#vcwss-intro {
	padding-left: 5%;
	padding-right: 5%;
}
#vcwss-intro p {
	font-size: 18px;
	line-height: 3rem;
	text-indent: 2em;
}
#vcwss-intro #location {
	margin: 60px auto;
	width: 100%;
	height: auto;
}

#vcwss-organisation .tree {
	width: auto;
	margin-left: auto;
	margin-right: auto;
}
#vcwss-organisation .tree ul {
	padding-top: 20px;
	position: relative;
	transition: all 0.5s;
}
#vcwss-organisation .tree li {
	float: left;
	text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;
	transition: all 0.5s;
}
#vcwss-organisation .tree li:before .tree li:after {
	content: '';
	position: absolute;
	top: 0;
	right: 50%;
	border-top: 1px solid #ccc;
	width: 50%;
	height: 20px;
}
#vcwss-organisation .tree li:after {
	right: auto;
	left: 50%;
	border-left: 1px solid #ccc;
}
#vcwss-organisation .tree li:only-child:after .tree li:only-child:before {
	display: none;
}
#vcwss-organisation .tree li:only-child {
	padding-top: 0;
}
#vcwss-organisation .tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
#vcwss-organisation .tree li:last-child::before {
    border-right: 1px solid #ccc;
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
}
#vcwss-organisation .tree li:first-child::after {
    border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    -moz-border-radius: 5px 0 0 0;
}
/*Time to add downward connectors from parents*/
#vcwss-organisation .tree ul ul::before {
    content:'';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 1px solid #ccc;
    width: 0;
    height: 20px;
    margin-left: -1px;
}
#vcwss-organisation .tree li a {
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #666;
    font-family: arial, verdana, tahoma;
    font-size: 11px;
    display: inline-block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
#vcwss-organisation .tree li a:hover, .tree li a:hover+ul li a {
    background: #c8e4f8;
    color: #000;
    border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
#vcwss-organisation .tree li a:hover+ul li::after, .tree li a:hover+ul li::before, .tree li a:hover+ul::before, .tree li a:hover+ul ul::before {
    border-color: #94a0b4;
}
#vcwss-organisation li a.just-line {
    display: none;
}
#vcwss-organisation a.just-line + ul {
    padding-top: 74px;
}
#vcwss-organisation a.just-line + ul:before {
    height: 74px;
}

#vcwss-team dd:nth-child(even) .pic {	
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	padding: 2%;
	float: left;
}
#vcwss-team dd:nth-child(odd) .pic {
	display: inline-block;
	width: 30%;
	vertical-align: middle;
	padding: 2%;
	float: right;
}
#vcwss-team dd .content {
	display: inline-block;
	width: 65%;
	vertical-align: middle;
	padding: 5%;
}
#vcwss-team dd .content h1 {
	font-weight: 600;
}
#vcwss-team dd p {
	font-size: 18px;
}
#vcwss-team dd span .team-pic-small {
	width: 10%;
	height: auto;
	margin-top: 20px;
	margin-right: 20px;
	vertical-align: top;
	transition:all 0.5s ease-in 0.05s;
}
#vcwss-team dd .team-pic-detail {
	display: none;
	position: absolute;
	margin-top: 20px;
	width: 20%;
	text-align: center;
	transition: all 1s ease-in 0.5s ease-out 0.5s;
}
#vcwss-team dd .team-pic-detail {

}

#tabs {

}
@media screen and (max-width: 800px) {
	#vcwss-team dd .pic {
		display:block;
		width: 80%;
		margin: auto;
	}
	#vcwss-team dd .content {
		display:block;
		width: 100%;
		margin: auto;
	}
}