/* Navibar
------------------------------------------------------------------------*/
h1 {
	font-size: 18px;
	letter-spacing: 0.5em;
	padding-top: 20px;
	margin-top: 0;
}
.section-header {
	padding-bottom: 9px;
	margin: 40px 0 20px 0;
	border-bottom: 1px solid #eee;
}
.vcwss-intro {
    height: 120px;
    margin-bottom: 20px;
}
.vcwss-intro p {
	font-size: 18px;
	line-height: 1.5em;
	color: #222;
	letter-spacing: 1px;
	font-family: "Hiragino Sans GB", "Microsoft YaHei",
             "WenQuanYi Micro Hei", sans-serif;
	-webkit-font-smoothing: antialiased;
}
.vcwss-block {
	margin-bottom: 20px;
}
.vcwss-block p {
	margin-bottom: 50px;
}
.block-header {
	float: left;
	width: 30%;
	margin-right: 20px;
}
#introduce {
	padding-top: 30px;
}
#organization .intro-block {
	margin-bottom: 20px;
	padding-left: 0px;
	padding-right: 10px;
	color: #666;
	letter-spacing: 2px;
}
.hover-block {
	animation: flipUp;
	position: relative;
	width: 10%;
	z-index: 999;
	display: none;
	background-color: #fff;
	-webkit-transition: ease-in-out 0.4s;
	transform-origin: 50% 0%;
	transform: perspective(350px) rotateX(-90deg);
}
.hover-block h4 {
	color: #111 !important;
	text-align: center;
}
.hover-block p {
	color: #555;
	padding: 15px;
	padding-left: 0;
	font-size: 14px;
}
#organization .vcwss-block:hover  { box-shadow: 0px 0px 15px #ccc;z-index: 999; width: 100%;}
#organization .vcwss-block:hover h4 {color: #f05050;}
#organization .vcwss-block:hover .hover-block { display: block;
-webkit-animation: flipUp 0.4s ease-in-out 0s forwards;
-o-animation: flipUp 0.4s ease-in-out 0s forwards;
animation: flipUp 0.4s ease-in-out 0s forwards;

}

#chief {
	border: 0.5px solid #f05050;
	box-shadow: 0px 0px 25px #f05050;
}

@-webkit-keyframes flipUp {
0% {-webkit-transform: perspective(350px) rotateX(-90deg);}
50% {-webkit-transform: perspective(350px) rotateX(30deg);}
80% {-webkit-transform: perspective(350px) rotateX(-15deg);}
100% {-webkit-transform: perspective(350px) rotateX(0deg); /* box-shadow:0 15px 10px -15px rgba(0,0,0,0.4); */}
}
@-o-keyframes flipUp {
0% {-o-transform: perspective(350px) rotateX(-90deg);}
50% {-o-transform: perspective(350px) rotateX(30deg);}
80% {-o-transform: perspective(350px) rotateX(-15deg);}
100% {-o-transform: perspective(350px) rotateX(0deg); /* box-shadow:0 15px 10px -15px rgba(0,0,0,0.4); */}
}
@keyframes flipUp {
0% {transform: perspective(350px) rotateX(-90deg);}
50% {transform: perspective(350px) rotateX(30deg);}
80% {transform: perspective(350px) rotateX(-15deg);}
100% {transform: perspective(350px) rotateX(0deg); /* box-shadow:0 15px 10px -15px rgba(0,0,0,0.4); */}
}


#vcwss .container:after {
	content: "\0020";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

#vcwss .vcwss-block:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	border-width: 0 24px 24px 0;
	border-style: solid;
	border-color: #fff #fff #888 #888;
	background: #888;
	display: block;
	width: 0;
}

.minister-block img {
	width: 180px;
	height: 230px;
}
